<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
   >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:name=".ExoryApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExoryFileManager"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        tools:targetApi="31">

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.ExoryFileManager.Splash"
            android:exported="true"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ExoryFileManager.FullScreen" />

        <activity
            android:name=".activities.AuthenticationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ExoryFileManager.FullScreen"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />

        <activity
            android:name=".activities.FileViewerActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".activities.DecompressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SaveAsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ManageStorageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CategoryDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.OssLicensesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ExoryFileManager" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.LockReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.UnlockAppService"
            android:exported="false" />

        <service
            android:name=".services.ZipManagerService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".services.ClipboardService"
            android:exported="false" />

        <service
            android:name=".services.CleanupService"
            android:exported="false" />

        <service
            android:name=".services.CloudSyncService"
            android:exported="false" />

        <meta-data
            android:name="androidx.work.WorkManagerInitializer"
            android:value="androidx.work.impl.WorkManagerInitializer"
            tools:node="remove" />

    </application>

</manifest>
